* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --primary-color: #123458;
  --primary-text-color: #030303;
  --primary-hover-color: #2f5680;

  --secondary-color: #d4c9be;
  --secondary-text-color: #f1efec;
}

@keyframes full-slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes full-slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

::view-transition-old(main-content) {
  animation-name: full-slide-to-left;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}

::view-transition-new(main-content) {
  animation-name: full-slide-from-right;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
select {
  transition: box-shadow 150ms ease-in-out;
}

input,
textarea {
  min-height: 44px;
  min-width: 44px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;

  font-size: 1rem;
  font-family: 'Inter', sans-serif;

  resize: vertical;
}

input[type='radio'],
input[type='checkbox'] {
  min-height: auto;
  min-width: auto;
  width: auto;
  display: inline;

  transition: 150ms ease-in-out;
}

textarea {
  min-height: 150px;
}

select {
  display: inline-block;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 10px 20px;

  font-size: 1rem;
  line-height: 1rem;

  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
.btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-color);
}

.form-control {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.skip-link {
  background: var(--primary-color);
  padding: 4px 8px;

  inset-inline: auto;
  position: absolute;

  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;

  transform: translateY(-150%);
}

.skip-link:focus,
.skip-link:focus-within {
  transform: translateY(0%);
}

.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1300px;
}

header {
  background-color: #f1efec;
  box-shadow: 0 1px 4px 0 #00000055;
}

.main-header {
  min-height: 90px;
  padding-block: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.brand {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.brand-logo {
  width: 50px;
  height: 50px;
}

.navigation-drawer {
  min-height: 100vh;
  width: 200px;
  padding: 20px 10px;
  background-color: #fff;

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  box-shadow: 0 0 4px 2px #00000033;
  transform: translateX(-100%);
  transition: transform 350ms;

  z-index: 9999;
}

.navigation-drawer.open {
  transform: translateX(0);
}

.drawer-button {
  padding: 8px;
  border: 0;
  border-radius: 4px;

  display: inline-block;
  background-color: transparent;

  font-weight: bold;
  font-size: 28px;
  color: #141e16;

  cursor: pointer;
}

.nav-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px 20px;
}

.nav-list li a {
  padding: 6px 10px;

  display: block;

  color: #333;
  text-decoration: none;
}

.nav-list li a:hover {
  text-decoration: underline;
}

.nav-list .logout-button {
  color: red;
}

/* MAIN */
.main-content {
  padding-bottom: 20px;
  view-transition-name: main-content;
  min-height: 83vh;
}

.btn {
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-text-color) !important;

  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: var(--primary-hover-color);
}

.btn[disabled] {
  background-color: var(--primary-hover-color);
  cursor: not-allowed;
}

.section-title {
  margin-block: 20px;
}

/* LOGIN, REGISTER PAGE */
.login-container,
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83vh;
}

.login-form-container,
.register-form-container {
  background-color: #f1efec;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0 #00000055;
  width: 90vw;
  max-width: 400px;
}

.login__title,
.register__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-buttons.login-form__form-buttons,
.form-buttons.register-form__form-buttons {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 10px;
}

.login-form__do-not-have-account a,
.register-form__do-not-have-account a {
  color: var(--primary-color);
  font-weight: 600;
}

/* Home Page */
.story-map-container,
.story-map {
  height: 400px;
}

.story-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  gap: 20px 15px;
}

.story-list__empty,
.story-list__error {
  text-align: center;
}

.story-item {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 1px 0 #00000055;
  display: flex;
  flex-direction: column;
}

.story-item__image-wrapper {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.story-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-item__body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  row-gap: 10px;
}

.story-item__more-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 6px;
  font-size: 0.85rem;
  color: var(--primary-color);
  flex-wrap: wrap;
}

.story-item__description {
  overflow-wrap: break-word;
}

.story-item__read-more:hover > i {
  transform: translateX(10px);
  transition: all 0.5s ease-in-out;
}

/* NEW STORY FORM */
.new-story__header {
  padding-block: 70px;
  background-color: var(--primary-color);
  text-align: center;
  margin-bottom: 40px;
  color: var(--secondary-text-color);
}

.new-story__header__title {
  margin-block-end: 16px;
}

/* form */
.new-form__container {
  max-width: 800px;
  margin-inline: auto;
}

.new-form {
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: var(--secondary-text-color);
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.new-form > .form-control > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 8px;
}

.new-form__title__title,
.new-form__damage-level__title,
.new-form__description__title,
.new-form__documentations__title,
.new-form__location__title {
  display: block;

  font-weight: 500;
  font-size: 1rem;
}

.new-form__title__container > :not([hidden]) ~ :not([hidden]),
.new-form__damage-level__container > :not([hidden]) ~ :not([hidden]),
.new-form__description__container > :not([hidden]) ~ :not([hidden]),
.new-form__documentations__container > :not([hidden]) ~ :not([hidden]),
.new-form__location__container > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 10px;
}

/* New Documentations */
.new-form__documentations__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-form__camera__container {
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 8px;

  display: none;
}

.new-form__camera__container.open {
  display: block;
}

.new-form__camera__video {
  width: 100%;
  border-radius: 4px;
  display: block;
}

.new-form__camera__canvas {
  display: none;
}

.new-form__camera__tools {
  margin-block: 8px;

  display: flex;
  flex-direction: column;
  gap: 8px 16px;
}

.new-form__documentations__outputs {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  justify-content: center;
  gap: 16px;
}

.new-form__documentations__outputs-item__delete-btn {
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  border: none;

  cursor: pointer;
}

.new-form__documentations__outputs-item__delete-btn img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  transition: 150ms ease-in-out;
}

.new-form__documentations__outputs-item__delete-btn:hover img {
  scale: 1.05;
}

/* New Locations */
.new-form__location__map__container,
.new-form__location__map {
  height: 400px;
  position: relative;
}

.new-form__location__map__container {
  background-color: darkgray;
}

.new-form__location__lat-lng {
  margin-block: 16px 8px;

  display: flex;
  gap: 10px;
}
/* END OF NEW STORY FORM */

.footer {
  width: 100%;
  padding-block: 20px;
  background-color: #f1efec;
  text-align: center;
  box-shadow: 0px -1px 4px 0 #00000055;
}

.copyright {
  margin-bottom: 2px;
}

.copyright,
.creator {
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 500;
}

/* Loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  text-align: center;
}

.loader::after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 6px solid #d4d4d4aa;
  border-bottom-color: var(--primary-color);
  border-radius: 100%;

  animation: rotation 1s linear infinite;
}

.loader.loader-absolute::after {
  position: absolute;
  inset: 0;
  margin: auto;
}

i.loader-button {
  animation: rotation 1s linear infinite;
}
